* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Login {
    width: 100%;
}

.Login-container {
    border: 1px solid rgb(134, 134, 134);
    border-radius: 15px;
    margin: 8rem auto 3.5rem auto;
    padding: 10px 25px 30px 25px;
    background-color: rgb(73, 73, 73);
    width: 500px;
}

.Login-container h1 {
    font-size: 24px;
    text-align: left;
    border-bottom: 2px solid rgb(134, 134, 134);
    padding: 10px 0 10px 0
}

.Login-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.Input-label {
    padding-left: 25px;
    margin: 35px 0 0 0;
    align-self: flex-start;
    font-size: 14px;
    font-weight: 600;
}

.Login-form input {
    color:black;
    border: none;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    margin-top: 10px;
    padding: 15px;
    height: 45px;
}

.Login-form button {
    background-color: grey;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    border: none;
    align-self: center;
    width: 50%;
    height: 45px;
}

.Error-label {
    height: 15px;
    color: purple;
    align-self: start;
    margin-top: 20px;
    padding-left: 25px;
    font-size: 15px;
    font-weight: 500;
}