@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white
}

body {
  min-width:800px;
  background-color: rgb(44, 44, 44);;
}

.App {
  text-align: center;
}

.Header-container {
  border: 1px solid rgb(134, 134, 134);
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0  0 15px 15px;
  background-color: rgb(73, 73, 73);
}

.Header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%
}

.Header-text h1{
  margin-left: 10rem;
}

.Button-container {
  display: flex;
  justify-content: space-around;
  width: 17rem;
}

.Link-button, .Link-button:visited, .Link-button:hover, .Link-button:active {
  text-decoration: none;
  outline: none;
  color: black;
}

.Link-button button {
  background-color: grey;
  cursor: pointer;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 17px;
}

.Form-container {
  border: 1px solid rgb(134, 134, 134);
  border-radius: 15px;
  margin: 8rem auto 3.5rem auto;
  padding: 10px 25px 30px 25px;
  background-color: rgb(73, 73, 73);
  width: 500px;
}

.Form-container h1 {
  font-size: 24px;
  text-align: left;
  border-bottom: 2px solid rgb(134, 134, 134);
  padding: 10px 0 10px 0
}

.Form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.Form-label {
  padding-left: 25px;
  margin: 35px 0 0 0;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 600;
}

.Form input {
  color:black;
  border: 3px solid rgb(134, 134, 134);
  text-decoration: none;
  outline: none;
  border-radius: 30px;
  margin-top: 10px;
  padding: 15px;
  height: 45px;
}

.Form button {
  background-color: grey;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  border: none;
  align-self: center;
  width: 50%;
  height: 45px;
}

.Error-label {
  height: 15px;
  color: purple;
  align-self: start;
  margin-top: 20px;
  padding-left: 25px;
  font-size: 15px;
  font-weight: 500;
}
