@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width:800px;
  background-color: rgb(44, 44, 44);;
}

.App {
  text-align: center;
}

.Header-container {
  border: 1px solid rgb(134, 134, 134);
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0  0 15px 15px;
  background-color: rgb(73, 73, 73);
}

.Header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%
}

.Header-text h1{
  margin-left: 10rem;
}

.Button-container {
  display: flex;
  justify-content: space-around;
  width: 17rem;
}

.Link-button, .Link-button:visited, .Link-button:hover, .Link-button:active {
  text-decoration: none;
  outline: none;
  color: black;
}

.Link-button button {
  background-color: grey;
  cursor: pointer;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 17px;
}
